
.aside{
    position: fixed;
    width: 17rem;
    height: 100vh;
    left: 0;
    border-right: 1px solid var(--color-border);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.aside a{
    display: flex;
    flex-direction: column;
}

.aside .avatar{
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.aside .author{
    font-size: 1.6rem;
    margin: 0.5rem auto 1.5rem;
}

.aside .position{
    font-size: 1.1rem;
    font-weight: 400;
    display: block;
}

.aside .description{
    font-size: 1.01rem;
    font-weight: 400;
}

.aside .social-wrapper{
    margin: 2rem auto;
    width: 100%;
}

.aside .social-list{
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: outside none none !important;
}

.aside .social-list svg{
    width: 30px;
    height: 30px;
}

.aside .links-list{
    font-size: 1.2rem;
    font-weight: 400;
    list-style: none;
}

.aside .links-list li{
    padding: 0.5rem 0px;
}

.aside ul li.active a{
    color:var(--color-hover);
}

@media (max-width: 992px){
    #aside{
        display: none;
        width: 100%;
    }  
}