html{
    scroll-behavior: smooth;
    font-family: var(--font);
    color:#fff;
}

body{
    padding-top: 0;
    padding-left: 17rem;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: #00bfff;
}

@media (max-width: 992px) {
    body{
        padding: 0;
    }
}